-r requirements.txt

pytest==8.2.2  # https://github.com/pytest-dev/pytest
pytest-cov==5.0.0  # https://github.com/pytest-dev/pytest-cov

mypy==1.10.0  # https://github.com/python/mypy

# debugging
ipdb==0.13.13  # https://github.com/gotcha/ipdb

# commit
pre-commit==3.7.1 # https://github.com/pre-commit/pre-commit
